.individual-product-section {
  height: 90%;
  width: 100%;
  margin-left: 80px;
  padding: 100px 0;
}

@media (max-width: 768px) {
  .individual-product-section {
    height: 60%;
    width: 100%;
    margin-left: 50px;
    padding: 50px 0;
  }
}

.individual-product-name {
  font-size: 30px;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  .individual-product-name {
    font-size: 20px;
    text-transform: capitalize;
  }
}

@media (max-width: 400px) {
  .individual-product-name {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
  }
}

.row.individual-products {
  margin-right: 150px;
}

@media (max-width: 576px) {
  .row.individual-products {
    margin-right: 100px;
  }
}

.link-back {
  text-align: center;
}

.individual-subheading {
  text-align: center;
  padding-bottom: 50px;
}