.product-section {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 666px;
    scroll-behavior: smooth;
  }
  
  .our-products {
    box-sizing: border-box;
  }

  .product-image {
    position: relative;
    height: 300px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px
  }

  .product-section-h5 {
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  
  .products-heading-title {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
  }
  
  .products-subheading-category-name {
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
  }
  